.image_grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    padding: 30px;

    @media (max-width: 1024px) {
        columns: 3 150px
    }

    @media (max-width: 768px) {
        columns: 2 150px;
    }

    @media (max-width: 480px) {
        columns: 1 100px;
    }
}

.photo_card {
    display: inline-block;
    margin-bottom: 20px;
    width: 100%;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    cursor: pointer;
}

.photo_card:hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

img {
    width: 100%;
    display: block;
    border-radius: 20px;
}

.photo_info {
    padding: 5px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 15px;
}