.the_header {
    @include flex-center;
    justify-content: space-between;
    padding: 15px;
    background-color: $primary-color;
    margin-bottom: 20px;
}

.logo {
    font-size: 2rem;
    cursor: pointer;
    border-radius: 10px;
    
}

.logo:hover {
    background-color: red;
    transition: 2s;
    -webkit-box-shadow: #FFF 0 -1px 4px, #ff0 0 -2px 10px, #ff8000 0 -10px 20px, red 0 -18px 40px, 5px 5px 15px 5px rgba(0,0,0,0); 
    box-shadow: #FFF 0 -1px 4px, #ff0 0 -2px 10px, #ff8000 0 -10px 20px, red 0 -18px 40px, 5px 5px 15px 5px rgba(0,0,0,0);
}

.logo-short {
    display: none;
}

.header_icons {
    @include flex-center;
    gap: 20px;

    .icon_btn {
        background-color: rgb(245, 238, 238);
        width: 80px;
        height: 30px;
        border: none;
        border-radius: 10px;
        font-size: 1.2rem;
        cursor: pointer;
    }

    .icon_btn:hover {
        transition: 2s;
        -webkit-box-shadow: #FFF 0 -1px 4px, #ff0 0 -2px 10px, #ff8000 0 -10px 20px, red 0 -18px 40px, 5px 5px 15px 5px rgba(0,0,0,0); 
        box-shadow: #FFF 0 -1px 4px, #ff0 0 -2px 10px, #ff8000 0 -10px 20px, red 0 -18px 40px, 5px 5px 15px 5px rgba(0,0,0,0);
    }
    
}

.login_btn {
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    font-family: $font-main;
    background-color: rgb(245, 238, 238);
    cursor: pointer;
}

.login_btn:hover {
    transition: 2s;
    -webkit-box-shadow: #FFF 0 -1px 4px, #ff0 0 -2px 10px, #ff8000 0 -10px 20px, red 0 -18px 40px, 5px 5px 15px 5px rgba(0,0,0,0); 
    box-shadow: #FFF 0 -1px 4px, #ff0 0 -2px 10px, #ff8000 0 -10px 20px, red 0 -18px 40px, 5px 5px 15px 5px rgba(0,0,0,0);
}

/* responsive */

@media (max-width: 768px) {
    .icon_btn {
        display: none;
    }

    .logo-full {
        display: none;
    }

    .logo-short {
        display: block;
        transition: 2s;
        cursor: pointer;
        padding: 5px;
    }

    .login_btn {
        border-radius: 100px;
        padding: 10px 10px;
        margin-left: 3px;
        margin-right: 0;
    }
}

@media (max-width: 390px) {
    .logo-short {
        padding: 0 10px;
    }
}

