.search_bar {
    display: flex;
    width: 100%;
    max-width: 600px;
    gap: 5px;

    input {
        padding: 8px 170px;
        border: 1px solid #514949a4;
        border-radius: 10px;
        font-size: 15px;
    }
    
    button {
        padding: 0px 15px;
        border: none;
        border-radius: 10px;
        background-color: $btn-color;
        color: whitesmoke;
        cursor: pointer;

        &:hover {
            transition: 2s;
            -webkit-box-shadow: #FFF 0 -1px 4px, #ff0 0 -2px 10px, #ff8000 0 -10px 20px, red 0 -18px 40px, 5px 5px 15px 5px rgba(0,0,0,0); 
            box-shadow: #FFF 0 -1px 4px, #ff0 0 -2px 10px, #ff8000 0 -10px 20px, red 0 -18px 40px, 5px 5px 15px 5px rgba(0,0,0,0);
        }

    }
}

@media (max-width: 768px) {
    .search_bar {
        width: 100%;

        input {
            margin-right: 10px;
        }
    }
}

@media (max-width: 390px) {
    .search_bar {
        width: 100%;

        input {
           width: 100%;
           padding-left: 10px;
           padding-right: 0px;
           margin-right: 5px;
        }

        button {
            padding: 0 10px;
            margin-right: 5px;
        }
    }

}
    